src/main/resources/SrvNotifySMITZNOStatus2019-1Ver001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2018 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="NotifySMITZNOStatusRq">
		<xs:annotation>
			<xs:documentation>Передача статуса рассмотрения ПСФ (Запрос)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="NotifySMITZNOStatusRqType">
					<xs:sequence>
						<xs:element name="ZNO">
							<xs:complexType>
								<xs:complexContent>
									<xs:restriction base="ZNOInfo_Type">
										<xs:sequence>
											<xs:element name="Number" type="C15_Type" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID ЗНО (number)</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="SourceID" type="C15_Type" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Идентификатор ПСФ</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Title" type="C255_Type" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Тема
(для CRM Тема ПСФ)</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Description" type="C4000_Type" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Информация
(для CRM Суть ПСФ)</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="TemplateID" type="EsoTemplateId_Type" form="qualified">
												<xs:annotation>
													<xs:documentation>Код шаблона</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Status" type="C50_Type" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Статус ЗНО
(для CRM Статус обработки ПСФ)</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="AssigneeName" type="C1024" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Исполнитель
(для CRM Исполнитель ПСФ от SM)</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="AssignmentName" type="C1024" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Рабочая группа
(для CRM Рабочая группа ПСФ от SM)</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="NextBreach" type="DateTime" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Планируемая дата закрытия</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ActualFinish" type="DateTime" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Дата и время окончания работ</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="CloseTime" type="DateTime" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Дата и время закрытия</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Resolution" type="C255_Type" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Решение</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ResolutionCode" type="C50_Type" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Код закрытия</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="AttachmentStatus" type="Boolean" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Признак, показывающий статус загрузки пакета документов клиента</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="PriorityCode" type="C32_Type" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Приоритет инцидента</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ContactName" type="C255_Type" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Инициатор (Обратился)</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="CallbackContact" type="C255_Type" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Контактное лицо</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Category" type="C100_Type" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Категория сущности</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="SbK2" type="Boolean" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Признак К-2</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="SbAIB" type="Boolean" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Признак регистрации АИБом</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="SbDRUGId" type="C40_Type" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Идентификатор сущности в ПОДРУГе</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="SbMqrqid" type="C100_Type" form="qualified" minOccurs="0"/>
											<xs:element name="SbSourceName" type="C100_Type" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Название "родительской" системы</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="IncidentID" type="C50_Type" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>
	Идентификатор связанного обращения</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="SbForecastMoveCause" type="C100_Type" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Причина изменения КС</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="SbLogin" type="C255_Type" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Логин</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="SbPassword" type="C255_Type" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Пароль</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="PlanFinish" type="DateTime" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Прогнозный срок</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="AdditionalFields" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Информация об организации</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:restriction base="AdditionalZNOFields_Type">
															<xs:sequence>
																<xs:element name="ClientFullName" type="C1024" form="qualified" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Наименование организации</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ClientINN" type="TaxId_Type" form="qualified" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Идентификатор налогоплательщика (ИНН/КИО).</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ClientSegment" form="qualified" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Сегмент</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="C100_Type">
																			<xs:maxLength value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ClientTB" form="qualified" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Наименование ТБ. Возможные значения: Центральный аппарат, Московский банк, Волго-Вятский банк и др.</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="C">
																			<xs:maxLength value="1024"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ClientVSP" form="qualified" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Наименование ВСП </xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="C">
																			<xs:maxLength value="1024"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="PSFNumber" type="C64_Type" form="qualified" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Номер ПСФ</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ManualRouting" type="Boolean" form="qualified" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Флаг "Ручная маршрутизация"</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="AnswerClient" type="C4000_Type" form="qualified" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Ответ клиенту</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="PSFRouter" type="C1024" form="qualified" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>ФИО маршрутизатора</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:restriction>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="ECM" form="qualified" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>Тип папки: 1-Документы клиента; 5 - Ответ</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:restriction base="ECM_Type">
															<xs:sequence>
																<xs:element name="ECMFolderId" type="C70_Type" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Id папки</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ECMFolderType" type="C70_Type" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Тип папки: ECMFolderRead - в которой лежат вложения к запросу; ECMFolderWrite - в которую можно записывать новые файлы</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:restriction>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="Channel" type="C50_Type" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Канал поступления</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="DynamicFields" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Динамические поля инициатора</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:complexContent>
														<xs:restriction base="DynamicFields_Type">
															<xs:sequence>
																<xs:element name="DynamicField" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>НАзвание динамического элемента</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:complexContent>
																			<xs:restriction base="DynamicField_Type">
																				<xs:sequence>
																					<xs:element name="DFId" type="C50_Type">
																						<xs:annotation>
																							<xs:documentation>Идентификатор динамического элемента</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="DFName" type="C127_Type">
																						<xs:annotation>
																							<xs:documentation>НАзвание динамического элемента</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="DFValue" type="C4000_Type">
																						<xs:annotation>
																							<xs:documentation>Значение динамического элемента</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:restriction>
																		</xs:complexContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:restriction>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="SbDynamicFields" form="qualified" minOccurs="0">
												<xs:complexType>
													<xs:complexContent>
														<xs:restriction base="SbDynamicFields_Type">
															<xs:sequence>
																<xs:element name="DynamicField" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>НАзвание динамического элемента</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:complexContent>
																			<xs:restriction base="SbDynamicField_Type">
																				<xs:sequence>
																					<xs:element name="SbDFId" type="C50_Type">
																						<xs:annotation>
																							<xs:documentation>Идентификатор динамического элемента</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="SbDFName" type="C127_Type">
																						<xs:annotation>
																							<xs:documentation>НАзвание динамического элемента</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="SbDFValue" type="C4000_Type">
																						<xs:annotation>
																							<xs:documentation>Значение динамического элемента</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:restriction>
																		</xs:complexContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:restriction>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:restriction>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NotifySMITZNOStatusRs">
		<xs:annotation>
			<xs:documentation>Передача статуса рассмотрения ПСФ (Ответ)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="NotifySMITZNOStatusRsType">
					<xs:sequence>
						<xs:element name="Status">
							<xs:annotation>
								<xs:documentation>Статус обработки запроса</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:restriction base="Status_Type">
										<xs:sequence>
											<xs:element name="StatusCode" type="StatusCode_Type">
												<xs:annotation>
													<xs:documentation>Статусный код возврата</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ServerStatusCode" type="ServerStatusCode_Type" minOccurs="0">
												<xs:annotation>
													<xs:documentation> Текст с техническим описанием ошибки</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Severity" minOccurs="0">
												<xs:simpleType>
													<xs:restriction base="C">
														<xs:maxLength value="80"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="StatusDesc" type="StatusDesc_Type" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Описание статуса</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:restriction>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="ZNO">
							<xs:complexType>
								<xs:complexContent>
									<xs:restriction base="ZNOInfo_Type">
										<xs:sequence>
											<xs:element name="Number" type="C15_Type" form="qualified" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ID ЗНО (number)</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="SourceID" type="C15_Type" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Идентификатор ПСФ</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="SbDRUGId" type="C40_Type" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Идентификатор сущности в ПОДРУГе</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:restriction>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="AdditionalStatus_Type">
		<xs:annotation>
			<xs:documentation>Дополнительный статус</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StatusCode" type="StatusCode_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статусный код возврата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusDesc" type="StatusDesc_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание статуса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusType" type="StatusType_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип ошибки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServerStatusDesc" type="ServerStatusType_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание статуса системы источника</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalZNOFields_Type">
		<xs:sequence>
			<xs:element name="ClientFullName" type="C1024" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClientINN" type="TaxId_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор налогоплательщика (ИНН/КИО).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClientSegment" type="C100_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сегмент</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClientTB" type="C" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование ТБ. Возможные значения: Центральный аппарат, Московский банк, Волго-Вятский банк и др.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClientVSP" type="C" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование ВСП </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PSFNumber" type="C64_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер ПСФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManualRouting" type="Boolean" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Флаг "Ручная маршрутизация"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AnswerClient" type="C4000_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ответ клиенту</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PSFRouter" type="C1024" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ФИО маршрутизатора</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankInfo_Type">
		<xs:annotation>
			<xs:documentation>Реквизиты банков. Тип используется для идентификации банка</xs:documentation>
			<xs:documentation>Этот агрегат содержит дополнительную информацию для идентификации банка.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BranchId" type="BranchId_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер филиала</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchName" type="C255_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование филиала ВСП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgencyId" type="AgencyId_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер отделения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegionId" type="RegionId_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер террбанка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RbTbBrchId" type="RbTbBrchType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>8-ный код территориального банка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RbBrchId" type="RbBrchType" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>6-ный код территориального банка - точки обслуживания клиента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchIndex" type="C" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код ОСБ для децентрализованных счетов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgencyIdOld" type="AgencyId_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код старого ОСБ (до перенумерации)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchAddress" type="C50_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес подразделения (ВСП)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchFullName" type="C" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование ВСП </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DynamicField_Type">
		<xs:annotation>
			<xs:documentation>Динамический элемент</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DFId" type="C50_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор динамического элемента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DFName" type="C127_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>НАзвание динамического элемента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DFValue" type="C4000_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Значение динамического элемента</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DynamicFields_Type">
		<xs:annotation>
			<xs:documentation>Динамические поля инициатора</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DynamicField" type="DynamicField_Type" form="qualified" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>НАзвание динамического элемента</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ECM_Type">
		<xs:annotation>
			<xs:documentation>Тип папки</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ECMFolderId" type="C70_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Id папки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ECMFolderType" type="C70_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип папки: ECMFolderRead - в которой лежат вложения к запросу; ECMFolderWrite - в которую можно записывать новые файлы</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NotifySMITZNOStatusRqType">
		<xs:annotation>
			<xs:documentation>Тип Передача статуса рассмотрения ПСФ (Запрос)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header" type="RqHeader_Type" minOccurs="0"/>
			<xs:element name="ZNO" type="ZNOInfo_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NotifySMITZNOStatusRsType">
		<xs:annotation>
			<xs:documentation>Тип Передача статуса рассмотрения ПСФ (Ответ)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header" type="RqHeader_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор запроса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="Status_Type">
				<xs:annotation>
					<xs:documentation>Статус обработки запроса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZNO" type="ZNOInfo_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RqHeader_Type">
		<xs:annotation>
			<xs:documentation>Заголовок запроса</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RqUID" type="RqUID_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор запроса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RqTm" type="DateTime" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата и время передачи сообщения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperUID" type="OperUID_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор операции </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCName" type="SPName_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор потребителя сервиса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SPName" type="SPName_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор системы, инициирующей запрос</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SystemId" type="SPName_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор системы назначения запроса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BankInfo" type="BankInfo_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о банке</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateType" type="C80" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Возможные значения:
    Create
    Update
    CallBack
    ReOpen
    Resolve</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SbDynamicField_Type">
		<xs:annotation>
			<xs:documentation>Динамический элемент</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SbDFId" type="C50_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор динамического элемента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SbDFName" type="C127_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>НАзвание динамического элемента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SbDFValue" type="C4000_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Значение динамического элемента</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SbDynamicFields_Type">
		<xs:annotation>
			<xs:documentation>Динамические поля исполнителя</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DynamicField" type="SbDynamicField_Type" form="qualified" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>НАзвание динамического элемента</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Status_Type">
		<xs:annotation>
			<xs:documentation>Статус ответа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StatusCode" type="StatusCode_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статусный код возврата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServerStatusCode" type="ServerStatusCode_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Текст с техническим описанием ошибки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Severity" type="C" form="qualified" minOccurs="0"/>
			<xs:element name="StatusDesc" type="StatusDesc_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание статуса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusType" type="StatusType_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип ошибки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServerStatusDesc" type="ServerStatusType_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание статуса системы источника</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalStatus" type="AdditionalStatus_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительный статус. Этот агрегат может содержать дополнительные статусы, которые может сообщить сервер. Например, и
						номер счета, и дата неправильны, то StatusCode может содержать одну из этих ошибок, а этот агрегат – другую.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZNOInfo_Type">
		<xs:annotation>
			<xs:documentation>ЗНО</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="C15_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ID ЗНО (number)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SourceID" type="C15_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор ПСФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Title" type="C255_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тема
(для CRM Тема ПСФ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="C4000_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация
(для CRM Суть ПСФ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TemplateID" type="EsoTemplateId_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код шаблона</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="C50_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статус ЗНО
(для CRM Статус обработки ПСФ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssigneeName" type="C1024" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Исполнитель
(для CRM Исполнитель ПСФ от SM)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssignmentName" type="C1024" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Рабочая группа
(для CRM Рабочая группа ПСФ от SM)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NextBreach" type="DateTime" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Планируемая дата закрытия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActualFinish" type="DateTime" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата и время окончания работ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CloseTime" type="DateTime" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата и время закрытия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Resolution" type="C255_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Решение</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResolutionCode" type="C50_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код закрытия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttachmentStatus" type="Boolean" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак, показывающий статус загрузки пакета документов клиента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriorityCode" type="C32_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Приоритет инцидента</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactName" type="C255_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Инициатор (Обратился)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CallbackContact" type="C255_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Контактное лицо</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Category" type="C100_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Категория сущности</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SbK2" type="Boolean" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак К-2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SbAIB" type="Boolean" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак регистрации АИБом</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SbDRUGId" type="C40_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор сущности в ПОДРУГе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SbMqrqid" type="C100_Type" form="qualified" minOccurs="0"/>
			<xs:element name="SbSourceName" type="C100_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Название "родительской" системы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IncidentID" type="C50_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
	Идентификатор связанного обращения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SbForecastMoveCause" type="C100_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Причина изменения КС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SbLogin" type="C255_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Логин</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SbPassword" type="C255_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Пароль</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlanFinish" type="DateTime" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Прогнозный срок</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AffectedItem" type="C255_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Объект ЗНО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LogicalName" type="C255_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Логическое имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalFields" type="AdditionalZNOFields_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация об организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ECM" type="ECM_Type" form="qualified" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Тип папки: 1-Документы клиента; 5 - Ответ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Channel" type="C50_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Канал поступления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DynamicFields" type="DynamicFields_Type" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Динамические поля инициатора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SbDynamicFields" type="SbDynamicFields_Type" form="qualified" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AgencyId_Type">
		<xs:annotation>
			<xs:documentation>Номер отделения, в котором открыт или ведется продукт. С лидирующими нулями.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Boolean">
		<xs:annotation>
			<xs:documentation>Логический тип.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="BranchId_Type">
		<xs:annotation>
			<xs:documentation>Номер филиала, в котором открыт или ведется продукт. Без лидирующих нулей. Используется для обозначения кода подразделения ДБ
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NC">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C">
		<xs:annotation>
			<xs:documentation>Строковый тип с поддержкой русского языка в кодировке UTF-8.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="C100_Type">
		<xs:annotation>
			<xs:documentation>Строковый тип с поддержкой русского языка в кодировке UTF-8.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C1024">
		<xs:restriction base="C">
			<xs:maxLength value="1024"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C127_Type">
		<xs:annotation>
			<xs:documentation>Символьный тип с ограниченим длины в 127 символ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="127"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C15_Type">
		<xs:annotation>
			<xs:documentation>Строковый тип с поддержкой русского языка в кодировке UTF-8.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C255_Type">
		<xs:annotation>
			<xs:documentation>Символьный тип с ограниченим длины в 255 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C32_Type">
		<xs:annotation>
			<xs:documentation>Символьный тип с ограниченим длины в 32 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C40_Type">
		<xs:annotation>
			<xs:documentation>Символьный тип с ограниченим длины в 40 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C4000_Type">
		<xs:annotation>
			<xs:documentation>Символьный тип с ограниченим длины в 4000 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C50_Type">
		<xs:annotation>
			<xs:documentation>Символьный тип с ограниченим длины в 50 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C64_Type">
		<xs:annotation>
			<xs:documentation>Тип: Символьный тип, max длиной 64 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C70_Type">
		<xs:annotation>
			<xs:documentation>Тип: Символьный тип, max длиной 70 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C80">
		<xs:restriction base="C">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime">
		<xs:annotation>
			<xs:documentation>Дата и время</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{1,6})?((-|\+)[0-9]{2}:[0-9]{2}|Z?)?)?)?)|(\d{14}) "/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EsoTemplateId_Type">
		<xs:annotation>
			<xs:documentation>Тип:Код шаблона обращения ЕСО</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Long"/>
	</xs:simpleType>
	<xs:simpleType name="Long">
		<xs:annotation>
			<xs:documentation>Длинное число.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="NC">
		<xs:annotation>
			<xs:documentation>Строковый тип в кодировке ISO Latin-1.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="OperUID_Type">
		<xs:annotation>
			<xs:documentation>Уникальный идентификатор операции</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="[0-9a-zA-Z]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RbBrchType">
		<xs:annotation>
			<xs:documentation>Тип данных для 6-значного кода территориального банка. Используется для передачи кода ТБ, в котором обслуживается продукт клиента</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RbTbBrchType">
		<xs:annotation>
			<xs:documentation>Тип данных для 8-значного кода территориального банка. Используется для передачи кода ТБ, в котором открыт счет МБК, по которой клиент произвел идентификацию на УС</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RegionId_Type">
		<xs:annotation>
			<xs:documentation>Код региона банка. Используется для обозначения кода ДБ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NC">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RqUID_Type">
		<xs:annotation>
			<xs:documentation>
				Идентификатор запроса.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="UUID_Type">
			<xs:pattern value="[0-9a-zA-Z]{32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServerStatusCode_Type">
		<xs:annotation>
			<xs:documentation>
				Статусный код сервера. Это значение выдается пользователю на экран и позволяет провайдеру лучше диагностировать ошибку.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServerStatusType_Type">
		<xs:annotation>
			<xs:documentation>Исходное описание ошибки из внешней системы (заполняется только при значении StatusCode, отличном от 0)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SPName_Type">
		<xs:annotation>
			<xs:documentation>Идентификатор системы</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StatusCode_Type">
		<xs:annotation>
			<xs:documentation>
				Статусный код возврата.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Long"/>
	</xs:simpleType>
	<xs:simpleType name="StatusDesc_Type">
		<xs:annotation>
			<xs:documentation>
				Описание статуса.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StatusType_Type">
		<xs:annotation>
			<xs:documentation>Описание ответа - тип ошибки (заполняется только при значении StatusCode, отличном от 0)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="C">
			<xs:maxLength value="22"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxId_Type">
		<xs:annotation>
			<xs:documentation>Идентификатор налогоплательщика (ИНН).
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NC">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UUID_Type">
		<xs:annotation>
			<xs:documentation>Уникальный 16 байтовый идентификатор. Для обмена в рамках интеграционных проектов Сбербанка представляется набором из 32 символов
				без разделителей в шестнадцатиричной системе./
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NC">
			<xs:pattern value="[0-9a-zA-Z]{32}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
